#
# FlipDot Configuration
#
CONFIG_WIFI_MODE_STATION=y
# CONFIG_WIFI_MODE_AP is not set
CONFIG_WIFI_SSID="myssid"
CONFIG_WIFI_PASSWORD="mypassword"

CONFIG_HTTPD_WS_SUPPORT=y
CONFIG_HOME_ASSISTANT_SENSOR_ENTITY_ID="sensor.lekrum_temperatur_0x44e2f8fffe0fd040_temperature"
CONFIG_HOME_ASSISTANT_IP_ADDR_PORT="192.168.1.65:8123"
CONFIG_HOME_ASSISTANT_BEARER_TOKEN="Bearer long_lived_token"