menu "FlipDot Configuration"
    choice WIFI_MODE
        bool "WiFi Mode"
        default WIFI_MODE_STATION
    
    config WIFI_MODE_STATION
        bool "Station"
    
    config WIFI_MODE_AP
        bool "AP"
    
    endchoice
    config WIFI_SSID
        string "WiFi SSID"
        default "myssid"
        help
        SSID (network name) for the car to connect to.
    
    config WIFI_PASSWORD
        string "WiFi Password"
        default "mypassword"
        help
        WiFi password (WPA or WPA2) for the car to use.
    config WIFI_SSID
        string "WiFi SSID"
        default "myssid"
        help
        SSID (network name) for the car to connect to.
    
    config WIFI_PASSWORD
        string "WiFi Password"
        default "mypassword"
        help
        WiFi password (WPA or WPA2) for the car to use.

    config HOME_ASSISTANT_BEARER_TOKEN
        string "Home assistant Bearer token"
        default ""
    
    config HOME_ASSISTANT_IP_ADDR
        string "Home assistant IP"
        default "192.168.1.65:8123"
        
    config HOME_ASSISTANT_SENSOR_ENTITY_ID
        string "Home assistant temperature sensor entity id to fetch the temperature from"
        default "sensor.ble_temperature_mi_temp_2"
        
    config RS485_UART_PORT_NUM
        int "UART port number"
        range 0 2
        default 2
        help
            UART communication port number.    
    config RS485_UART_BAUD_RATE
        int "UART communication speed"
        range 1200 115200
        default 57600
        help
            UART communication speed for Modbus.

    config RS485_UART_RXD
        int "UART RXD pin number"
        default 22
        help
            GPIO number for UART RX pin.

    config RS485_UART_TXD
        int "UART TXD pin number"
        range 0 34
        default 23

    config RS485_UART_RTS
        int "UART RTS pin number"
        default 18
        help
            GPIO number for UART RTS pin. This pin is connected to
            ~RE/DE pin of RS485 transceiver to switch direction.

    endmenu